<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>742195707254-hlrfror1slccdplc2cl77dqadb4dbhsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742195707254-hlrfror1slccdplc2cl77dqadb4dbhsk</string>
	<key>API_KEY</key>
	<string>AIzaSyC_-2v4GQaa9MsN1QknVwn6_tUZZF-ZnrE</string>
	<key>GCM_SENDER_ID</key>
	<string>742195707254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firestore.demoapp.IoT</string>
	<key>PROJECT_ID</key>
	<string>peiqinzhao-firestore-demoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>peiqinzhao-firestore-demoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742195707254:ios:95ea666d2b3ef0cd</string>
	<key>DATABASE_URL</key>
	<string>https://peiqinzhao-firestore-demoapp.firebaseio.com</string>
</dict>
</plist>